<br>
<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
    <div class="col-xl-3 col-md-6 mb-4" >
      <div class="card border-0 shadow">
        <div>
          <div class="card-body text-center">
            <div><!-- <img class="rounded-circle" src="URL TO SOURCES" width="45"> might use this later if i want profile pics-->
            <div class="d-flex flex-column flex-wrap ml-2">
              <div class="card-title mb-0">
                <span><%= post.tweet %></span>
              </div>
              <br>
              <div class="card-img-top">
                <span><%= link_to(image_tag(post.image, :width=>250),post) %></span>
              </div>
              <br>
              <% if post.user == current_user %>
              <h7 class="card-title mb-0">You</h7>
              <% else %>
              <h7 class="card-title mb-0"><%= post.username %></h7>
              <% end %>
              <span class="card-title mb-1"><%= post.date %> from <%= post.location %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>