<br>
<div class="container">
  <div class="row">

    <% @posts.each do |post| %>
      <div class="col-xl-3 col-md-6 mb-4" >
        <div class="card border-0 shadow">
                      <div>
                          <div class="card-body text-center">
                              <div><!-- <img class="rounded-circle" src="https://i.imgur.com/aoKusnD.jpg" width="45"> might use this later if i want profile pics-->
                                  <div class="d-flex flex-column flex-wrap ml-2">
                                    <div class="card-title mb-0">
                                      <span><%= post.tweet %></span>
                                    </div>
                                    <div class="card-img-top">
                                      <span><%= link_to( image_tag(post.image, :size => "200x200"),post) %></span>
                                    </div>
                                    <% if post.user == current_user %>
                                    <h7 class="card-title mb-0">You</h7>
                                    <% else %>
                                    <h7 class="card-title mb-0"><%= post.username %></h7>
                                    <% end %>        
                                    <span class="card-text text-black-50"><%= post.date %> from <%= post.location %></span>
                                  </div>
                              </div>
                              <!-- <div id="SED">
                                <%= link_to 'Show', post, class:"btn btn-outline-success" %> 
                                <% if post.user == current_user %>
                                <%= link_to 'Edit', edit_post_path(post), class:"btn btn-outline-warning" %>
                                <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-outline-danger' %>
                                <% end %>
                              </div> 

                                Might need this code in the future but it is not used in this anymore-->
                          </div>
                      </div>
                  </div>
                  </div> 
    <% end %>
</div>
</div> 