<p id="notice"><%= notice %></p>

<p>
  <strong>Tweet:</strong>
  <%= @post.tweet %>
</p>

<p>
  <strong>Username:</strong>
  <%= @post.username %>
</p>

<p>
  <strong>Date:</strong>
  <%= @post.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @post.location %>
</p>

<p>
  <strong>Image:</strong>
  <br>
  <%= image_tag(@post.image, style:"width:200px") %>
</p>



<%= link_to 'Edit', edit_post_path(@post), class:"btn btn-secondary" %> 
<%= link_to 'Back', posts_path, class:"btn btn-secondary" %>
